<?xml version="1.0"?>
<GallerySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <ImageSettings>
  
	<ThubnailSize>
		<Width>90</Width>
		<Height>77</Height>
	</ThubnailSize>
	
	<UploadSize>
		<Width>640</Width>
		<Height>480</Height>
	</UploadSize>
	
   </ImageSettings>
  
</GallerySettings>